aiofiles
bard
pornhub-api==0.2.0
opencv-python-headless==4.9.0.80
pytube
aiohttp==3.9.3
asyncio==3.4.3
beautifulsoup4
blackpink
deepai
daxxhub
dnspython
ffmpeg-python
gitpython
apscheduler
hachoir
Faker
pydub
pycountry
heroku3
apscheduler
motor==3.3.2
pillow==9.5.0
psutil
wget
pyfiglet
qrcode
pytz
future==0.18.3
search_engine_parser
py-tgcalls==1.2.9
ntgcalls==1.1.2
pykeyboard
pyshorteners
pyrofork
python-dotenv
pyyaml==6.0.1
requests
emojis
speedtest-cli
spotipy
tgcrypto
telegraph
telethon==1.33.1
unidecode
yt-dlp @ git+https://github.com/Badmunda98/yt-dp-fork
youtube-search
youtube-search-python
gtts
git+https://github.com/badmunda98/SafoneAPI
lexica-api==1.4.7
httpx==0.25.2
gpytranslate
openai==0.28.0
